<settings>
	<setting propertyKey="@Properties.tone" title="@Strings.ToneTitle">
		<settingConfig type="list">
			<listEntry value="0">@Strings.Light</listEntry>						
			<listEntry value="1">@Strings.Dark</listEntry>
			<listEntry value="2">@Strings.Vivid</listEntry>
			<listEntry value="3">@Strings.WhiteBg</listEntry>
			<listEntry value="4">@Strings.ColorBg</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.activity" title="@Strings.ActivityTitle" prompt="@Strings.CalendarPrompt" helpUrl="https://sl8.ch/calendar">
		<settingConfig type="list">
			<listEntry value="0">@Strings.DnD</listEntry>
			<listEntry value="1">@Strings.Steps</listEntry>
			<listEntry value="2">@Strings.Calories</listEntry>
			<listEntry value="3">@Strings.ActiveMinutesDay</listEntry>
			<listEntry value="4">@Strings.ActiveMinutesWeek</listEntry>
			<listEntry value="5">@Strings.Floors</listEntry>
			<listEntry value="6">@Strings.Calendar</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.calendar_colors" title="@Strings.CalendarColors" prompt="@Strings.CalendarsSetting" helpUrl="https://sl8.ch/calendar-analog">
		<settingConfig type="list">
			<listEntry value="0">@Strings.CalendarNoChange</listEntry>						
			<listEntry value="1">@Strings.CalendarByColor</listEntry>
		</settingConfig>
	</setting>
	<setting propertyKey="@Properties.refresh_freq" title="@Strings.refreshFrequency">
		<settingConfig type="numeric" min="60" max="1440" />
	</setting>
	<setting propertyKey="@Properties.calendar_ids" title="@Strings.AddCalendars" prompt="@Strings.CalendarsPrompt" helpUrl="https://calendar.google.com/calendar/r/settings">
		<settingConfig type="alphaNumeric" />
	</setting>
	<setting propertyKey="@Properties.weather" title="@Strings.Weather" prompt="@Strings.WeatherPrompt" helpUrl="https://sl8.ch/weather-forecast-analog">
		<settingConfig type="boolean" />
	</setting>
	<setting propertyKey="@Properties.units" title="@Strings.Units" prompt="@Strings.TakesTime">
		<settingConfig type="list">
			<listEntry value="1">@Strings.Celsius</listEntry>						
			<listEntry value="0">@Strings.Fahrenheit</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.d24" title="@Strings.D1224h" prompt="@Strings.TakesTime">
		<settingConfig type="list">
			<listEntry value="0">@Strings.D12h</listEntry>						
			<listEntry value="1">@Strings.D24h</listEntry>
		</settingConfig>
	</setting>
	<!--<setting propertyKey="@Properties.key" title="@Strings.Key">
		<settingConfig type="alphaNumeric" />
	</setting>-->
</settings>