<settings>
	<setting propertyKey="@Properties.tone" title="@Strings.ToneTitle">
		<settingConfig type="list">
			<listEntry value="0">@Strings.Light</listEntry>						
			<listEntry value="1">@Strings.Dark</listEntry>
			<listEntry value="2">@Strings.Vivid</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.activity" title="@Strings.ActivityTitle" prompt="@Strings.CalendarPrompt">
		<settingConfig type="list">
			<listEntry value="0">@Strings.DnD</listEntry>
			<listEntry value="1">@Strings.Steps</listEntry>
			<listEntry value="2">@Strings.Calories</listEntry>
			<listEntry value="3">@Strings.ActiveMinutesDay</listEntry>
			<listEntry value="4">@Strings.ActiveMinutesWeek</listEntry>
			<listEntry value="5">@Strings.Floors</listEntry>
			<listEntry value="6">@Strings.Calendar</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.sunriset" title="@Strings.showSunriseSunsetTitle">
		<settingConfig type="boolean" />
	</setting>

	<setting propertyKey="@Properties.refresh_freq" title="@Strings.refreshFrequency">
		<settingConfig type="numeric" min="5" max="1440" />
	</setting>

	<setting propertyKey="@Properties.calendar_colors" title="@Strings.CalendarColors">
		<settingConfig type="list">
			<listEntry value="0">@Strings.CalendarNoChange</listEntry>						
			<listEntry value="1">@Strings.CalendarByColor</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.calendar_ids" title="@Strings.AddCalendars" prompt="@Strings.CalendarsPrompt" helpUrl="https://calendar.google.com/calendar/r/settings">
		<settingConfig type="alphaNumeric" />
	</setting>
</settings>