<settings>
	<setting propertyKey="@Properties.activity" title="@Strings.ActivityTitle">
		<settingConfig type="list">
			<listEntry value="0">@Strings.DnD</listEntry>
			<listEntry value="1">@Strings.Steps</listEntry>
			<listEntry value="2">@Strings.Calories</listEntry>
			<listEntry value="3">@Strings.ActiveMinutesDay</listEntry>
			<listEntry value="4">@Strings.ActiveMinutesWeek</listEntry>
			<listEntry value="5">@Strings.Floors</listEntry>
		</settingConfig>
	</setting>
</settings>