<settings>
	<setting propertyKey="@Properties.mainColor" title="@Strings.ColorTitle">
		<settingConfig type="list">
			<listEntry value="0">@Strings.ColorRed</listEntry>
			<listEntry value="1">@Strings.ColorOrange</listEntry>
			<listEntry value="2">@Strings.ColorGreen</listEntry>
			<listEntry value="3">@Strings.ColorBlue</listEntry>
			<listEntry value="4">@Strings.ColorPurple</listEntry> 
			<listEntry value="5">@Strings.ColorGray</listEntry>
		</settingConfig>
	</setting>
	<setting propertyKey="@Properties.tone" title="@Strings.ToneTitle">
		<settingConfig type="list">
			<listEntry value="0">@Strings.Light</listEntry>						
			<listEntry value="1">@Strings.Dark</listEntry>
		</settingConfig>
	</setting>
	
	<setting propertyKey="@Properties.dateForm" title="@Strings.DateFormTitle">
		<settingConfig type="list">
			<listEntry value="0">@Strings.DateFormMonth</listEntry>
			<listEntry value="1">@Strings.DateFormDayOfWeek</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.activity" title="@Strings.ActivityTitle">
		<settingConfig type="list">
			<listEntry value="0">@Strings.DnD</listEntry>
			<listEntry value="1">@Strings.Steps</listEntry>
			<listEntry value="2">@Strings.Calories</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.bat" title="@Strings.BatteryTitle">
		<settingConfig type="list">
			<listEntry value="5">@Strings.BellowFive</listEntry>
			<listEntry value="10">@Strings.BellowTen</listEntry>
			<listEntry value="20">@Strings.BellowTwenty</listEntry>
			<listEntry value="33">@Strings.BellowThird</listEntry>
			<listEntry value="50">@Strings.BellowHalf</listEntry>
			<listEntry value="100">@Strings.Always</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.dialSize" title="@Strings.DialSize">
		<settingConfig type="list">
			<listEntry value="0">@Strings.s0</listEntry>
			<listEntry value="1">@Strings.s1</listEntry>
		</settingConfig>
	</setting>

   <setting propertyKey="@Properties.boldness" title="@Strings.Boldness">
		<settingConfig type="list">
			<listEntry value="3">@Strings.b3</listEntry>
			<listEntry value="4">@Strings.b4</listEntry>
			<listEntry value="5">@Strings.b5</listEntry>
			<listEntry value="7">@Strings.b7</listEntry>
			<listEntry value="9">@Strings.b9</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.sunriset" title="@Strings.showSunriseSunsetTitle">
		<settingConfig type="boolean" />
	</setting>
</settings>